<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SalãoVIP</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="assets/public/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/public/css/style.css">
</head>
<body ng-app="SalaoApp" style="background-color: {{bgcolor}}">
	<div>
		<div class="container" >
			<div class="row">
				<div class="col-md-6 main">
				<!-- Logo e Texto -->
					<div class="row">
						<div class="col-md-4">
							<img id="logo" src="assets/public/img/icon.jpg" alt="Logo">
						</div>
						<div class="col-md-8" style="margin-left: -5%;">
							<p class="italic-p">{{teste}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 texts_h1">
							<h1>Take your Ionic apps with you!</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 texts_p">
							<p style="font-family: 'Roboto',sans-serif">Ionic View makes it easy to share your Ionic/Cordova apps with clients and testers around the world, all without having to go through the App Store.</p>
						</div>
					</div>
					<!-- Fim Logo e Texto -->

					<div style="margin-top: 5%;">
						<div>
							<a href="#"> <img id="apple_store" src="assets/public/img/appstore.png" class="stores" > </a>
						</div>
						<div>
							<a href="#"> <img id="play_store" src="assets/public/img/playstore.png" class="stores" style=""></a>
						</div>
					</div>
				</div>

				<div class="col-md-6" id="phones"></div>

			</div>
			
		</div>

		<div class="container-fluid">
			<hr style="border: 1px solid #ECECEC;"></hr>
			<div class="row">
				<div class="col-md-12">
					<img id="svip_logo" class="img-center" src="assets/public/img/tec_svip.png">
				</div>
			</div>
		</div>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="Controller/Controller.js"></script>
	<script type="text/javascript" src="assets/public/bootstrap/js/bootstrap.js"></script>
</body>
</html>