<style>
	body{
		background-color: {{salon.bgcolor}};
	}
	hr{
		  border: 1px solid;
		  border-color: {{salon.hr}};
	}

	.btn-custom	{
			background: {{salon.btn_bg}};
		    border: none;
		    color: {{salon.btn_color}};
		}


	#logo{
		border-radius: 20px;
		border: {{salon.icon_border}};
	}

	.texts_p{
		color:{{salon.mini_text_color}};
	}
</style>

<div class="container" >
				<div class="col-md-6 main">
				<!-- Logo e Texto -->
					<div class="">
						<div class="col-md-12">
							<img id="logo" src={{salon.icon}} alt="Logo">
						</div>
						<div class="col-md-12">
							<p class="italic-p text-center" style="color:{{salon.appNameColor}}">{{salon.appName}}</p>
						</div>
					</div>

					<div class="">
						<div class="col-md-12 texts_p text-center">
							<p style="font-family: 'Roboto',sans-serif">{{salon.mini_text}}</p>
						</div>
					</div>
					<!-- Fim Logo e Texto -->

				
					<div class="row text-center" style="margin-top: 5%;">
						<div class="col-md-12 col-xs-12">
							<a href="{{salon.google_link}}"> <button  class="btn btn-default btn-custom"> <i class="fa fa-play" aria-hidden="true"></i> Google Play </button></a>
							<a href={{salon.apple_link}}> <button  class="btn btn-default btn-custom"> <i class="fa fa-apple" aria-hidden="true"></i> Apple Store </button></a>
						</div>
					</div>
							<div class="col-md-12 text-center" style="margin-top: 5%;">
								<img id="svip_logo" class="img-center" src="assets/public/img/tec_svip.png">
							</div>				
				</div>

				<div class="col-md-6" id="phones">
					<!-- <img id="android_device" src="assets/public/img/android.png"> -->
				</div>
			
		</div>

	
