@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');



@font-face
{
	font-family: "Roboto";
	src: url('../font/Roboto.ttf');

	font-family: "RockWell";
	src: url('../font/Rockwell-Extra-Bold.ttf');
}

@font-face{
	   font-family: "MyRiad";
    src: url('../font/MyriadPro-Cond.otf');
}

@font-face{

    font-family: "Oswald-Regular";
	src: url('../font/Oswald-Regular.ttf');
}

#logo
{
	border-radius: 8px;
	display: block;
    margin: auto;
}

#logo-div{
	margin-top: 5%;
}

.main
{
	padding: 10% 0% 0% 5%;
}

.italic-p 
{
    margin-top: 7%;
    font-size: 22px;
    color: #000;   
}

h1
{
	color:#000;
}

.texts_h1
{
	padding: 16%;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 0%;
}

.texts_p
{
    padding-top: 4%;
    font-size: 17px;
}

.stores
{
	width: 25%;
}

#apple_store
{
	float:right;width:22%;
	margin-right: 49%;
}

#play_store
{
	float:left;
	width:25%;
}

#android_device {
    width: 257px;
    margin-left: 125%;
    margin-top: 83.9%;
}

#ios_device {
    width: 254px;
    margin-left: 30%;
    margin-top: 115.9%;
}
.app-pic{
	width: 100px;
	z-index: -10;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

@media only screen and (min-width: 767px) and (max-width: 991px){

	.main
	{
		padding: 10% 0% 0% 0%;
	}
	#logo-div{
		margin-top: 10%;
	}
	#phones{
		margin-top: 30px;
		padding-top: 100%;
	}

	#svip_logo{
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 250px) and (max-width: 767px) {

	.main{
		padding: 10% 0% 0% 0%;
	}
	#logo-div{
		margin-top: 25%;
	}
	.italic-p,h1,.resposive-center
	{
		text-align: center;
	}

	#phones{
		margin-top: 30px !important;
		padding-top: 0%;
		height: 400px !important;
		background-size: 100% !important;
	}

	#svip_logo{
		display: block;
		margin: 0 auto;
	}

	#android_device {
	    width: 133px;
	    margin-left: 116%;
	    margin-top: -333%;
	}
	
	#ios_device {
	    width: 123px;
	    margin-left: -6%;
	    margin-top: 69.9%;
	}

} 



/*FOTO APP*/

/*@media only screen and (min-width: 250px) and (max-width: 568px) {

	#android_device {
	    width: 56.6%;
	    margin-left: 35.3%;
	    margin-top: -146.2%;
	}
}

@media only screen and (max-height: 667px) {

	#android_device {
	    width: 54.6%;
	    margin-left: 35.3%;
	    margin-top: -137.2%;
	}
}*/