@font-face
{
	font-family: "Roboto";
	src: url('../font/Roboto.ttf');

	font-family: "RockWell";
	src: url('../font/Rockwell-Extra-Bold.ttf');

	font-family: "Oswald";
	src: url('../font/Oswald-Regular.ttf');
}




#logo
{
	border-radius: 8px;
	display: block;
    margin: auto;
}

#logo-div{
	margin-top: 5%;
}

.main
{
	padding: 10% 0% 0% 5%;
}

.italic-p 
{
    margin-top: 7%;
    font-size: 30px;
    color: #000;   
}

h1
{
	color:#000;
}

.texts_h1
{
	padding: 16%;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 0%;
}

.texts_p
{
    padding-top: 4%;
    font-size: 16px;
}

.stores
{
	width: 25%;
}

#phones {
    background-image: url(../img/devices.png);
    background-repeat: no-repeat;
    height: 586px;
    background-size: 90%;
    margin-top: 5%;
}


#apple_store
{
	float:right;width:22%;
	margin-right: 49%;
}

#play_store
{
	float:left;
	width:25%;
}

#android_device{
     width: 76.6%;
    margin-left: 3.3%;
    margin-top: 19.5%;

}



@media only screen and (min-width: 767px) and (max-width: 991px){

	.main
	{
		padding: 10% 0% 0% 0%;
	}
	#logo-div{
		margin-top: 10%;
	}
	#phones{
		margin-top: 30px;
		padding-top: 100%;
	}

	#svip_logo{
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 250px) and (max-width: 767px) {

	.main{
		padding: 10% 0% 0% 0%;
	}
	#logo-div{
		margin-top: 25%;
	}
	.italic-p,h1,.resposive-center
	{
		text-align: center;
	}

	#phones{
		margin-top: 30px;
		padding-top: 0%;
		height: 400px;
	}

	#svip_logo{
		display: block;
		margin: 0 auto;
	}
} 



/*FOTO APP*/

@media only screen and (min-width: 250px) and (max-width: 568px) {

	#android_device {
	    width: 56.6%;
	    margin-left: 35.3%;
	    margin-top: -146.2%;
	}
}

@media only screen and (max-height: 667px) {

	#android_device {
	    width: 54.6%;
	    margin-left: 35.3%;
	    margin-top: -137.2%;
	}
}